* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#mealItems{
    display: flex;  
    flex-wrap: wrap;
    margin-top: 5%;
    
    
    
}
.food img{
    width: 100%;
}
.food{
        
        padding: 1%;
        width: 19%;
        margin-left: 1%;
        margin-bottom: 3%;
        cursor: pointer;

}
.food h3{
    text-align: center;
    padding: 15px;
    background-color: #fff;
    text-transform: uppercase;

}
